{% extends "layout.html" %} {% block title %} index {% endblock %}
{% block main %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-start">Name</th>
      <th class="text-end">Shares</th>
      <th class="text-end">Price</th>
      <th class="text-end">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    {% for symbol, values in owns.items() %}
    <tr>
        <td class="text-start" scope = "row">{{ symbol }}</td>
        <td class="text-start">{{values[0]}}</td>
        <td class="text-end">{{values[1]}}</td>
        <td class="text-end">{{values[2]}}</td>
        <td class="text-end">{{values[3]}}</td>
    </tr>

    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
      <td class="border-0 text-end">{{ cash }}</td>
    </tr>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
      <td class="border-0 w-bold text-end">{{ total }}</td>
    </tr>
  </tfoot>
</table>

{% endblock %}
